

.formcontainer{
    background: url('../../public/assets/grid.svg');
    
    position: relative;
    z-index: 50;
}
.content{
    background-color: #070c28;
   
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}
.formwrapper{
    background-color: #0a1035;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 10px;
    border-radius:30px ;
    padding: 20px 60px;
    height: 48vh;

    
    .logo{
        color: #a4a6b0        ;
        font-size: 30px;

    }
    

    form{
        display: flex;
         flex-direction: column;
         gap: 15px;
     }
     label{
        font-size: 20px;
        color:#a4a6b0 ;
     }
     input{
         padding: 10px;
         border:none;
         border-radius: 10px;
         height: 30px;
         width: 30vw;
         border-bottom: 1px solid #a7bcff ;
         &::placeholder{
             color: rgb(175, 175, 175);
         }
     }
     .btt{
         background-color: #1b3298;
         color: white;
         padding: 5px;
         font-weight: bold;
         height: 35px;
         border: none;
         cursor: pointer;
         border-radius: 10px;
     }

}
.error{
    background: rgb(255, 210, 210);
    position: fixed;
    top: 15px;
    height: 50px;
    right: 15px;
    border-radius: 10px;
    width: 300px;
    font-size: 20px;
    color: #62467d
    ;
    display: flex;
    align-items: center;
    justify-content: center;
}
.success{
    background:#d1e7dd;
    position: fixed;
    top: 15px;
    height: 50px;
    right: 15px;
    border-radius: 10px;
    width: 300px;
    font-size: 20px;
    color: #7a7092
    ;
    display: flex;
    align-items: center;
    justify-content: center;
}